<!-- 各ユーザーの投稿一覧 -->
<table class="books-table">
  <h2>Books</h2>
  <hr>
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Option</th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |item| %>
      <tr class="field">
        <td class="user_image">
          <%= link_to user_path(item.user.id) do %>
            <%= image_tag item.user.get_profile_image(100, 100) %>
          <% end %>
        </td>
        <td class="title">
          <%= link_to item.title, book_path(item.id) %>
        </td>
        <td class="body">
          <%= item.body %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

