@import "~bootstrap/scss/bootstrap";

// カスタムスタイル
.alert {
  background-color: transparent !important;
  color: black !important;
}

.alert-success {
  background-color: transparent !important;
  color: black !important;
}

/* ナビゲーションリンクの文字色を白に設定 */
.navbar-brand {
  color: white !important;
}

.navbar-nav .nav-item a {
  color: white !important;
}

/* アイコンの色を白に設定 */
.navbar-nav .nav-item .fa {
  color: white !important;
}


/* ホバー時の文字色 */
.navbar-nav .nav-item a:hover {
  color: gray !important;
}
